// BUTTONS
// https://copy-paste-css.com/ // bw button with a lift
// https://codepen.io/agrimsrud/pen/RwKbwXN // button with flashlight effect
// https://codepen.io/natszafraniec/pen/eYMPEaM // smiley face cutie button
// https://codepen.io/myacode/pen/PoqQQNM // Neumorphic Elements

//palette
$raisin: #1b1212;
$bone: #e2e2e2;

// FOR DESKTOP
body {
    background-color: $raisin;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $bone;
}

// https://cssgrid-generator.netlify.app/
.container {
    display: grid;
    grid-template-columns: 40px 10px 10px repeat(2, 1fr) 10px 10px 40px;
    grid-template-rows: 40px 10px 10px repeat(4, 1fr) 10px 10px 40px;
    column-gap: 0px;
    row-gap: 0px;

    // background-color: $raisin;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.basic {
    display: grid;
    grid-template-columns: 40px 10px 10px repeat(2, 1fr) 10px 10px 40px;
    grid-template-rows: 40px 10px 10px repeat(4, 1fr) 10px 10px 40px;
    column-gap: 0px;
    row-gap: 0px;

    background-color: $raisin;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.frame {
    background-color: rgba(0, 0, 0, 0); // background transparent
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

.name {
    // background-color: lightskyblue;
    position: absolute;
    font-size: 6em;
    line-height: .8;
    left: -7px;
    top: -10px;
}

.nav {
    // background-color: lightskyblue;
    position: absolute;
    left: -6px;
    margin-top: 80px;
    z-index: 9998;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: crosshair;
    outline: none;
    color: $bone;
    font-size: 1.8em;
    line-height: 1.15;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// HOME
.home {
    // background-color: orange;
    position: fixed;
    bottom: 35px;
    right: 40px;
    font-size: calc(18px + 2vw);
    text-align: right;
    line-height: 1;
}

// CARD
.card {
    // background-color: lightblue;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(12px + .8vw);
}

.card__link {
    color: $bone;
}

// ABOUT
.card__about_img {
    width: calc(30px + 8vw);
    height: calc(30px + 8vw);
    border-radius: 25%;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.card__about_text {
    // background-color: cadetblue;
    width: 50vw;
    white-space: pre-wrap;
    clear: both;
    margin-top: 10px;
}

//ENDEAVORS
.card__endeavor {
    width: 70vw;
    transform: translate(10%, 0%);

    display: grid;
    grid-template-columns: .5fr 1.5fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: calc(10px + .2vw);
    grid-row-gap: calc(5px + 2vw);
    ;
}

// icons footer
.footer {
    // background-color: teal;
    position: absolute;
    bottom: 10px;
    left: 40px;
    z-index: 9999;

    display: grid;
    grid-template-columns: repeat(5, .9fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon:hover {
    cursor: crosshair;
    -moz-cursor: crosshair;

}

.footer__img {
    width: 5px;
}

.credits {
    font-size: calc(5px + .4vw);
    text-align: right;
    position: absolute;
    bottom: 18px;
    right: 40px;
}

// day night toggle 
.toggle {
    display: inline-block;
    vertical-align: bottom;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 23.8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: crosshair;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: .5px solid $bone;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18.0px;
    width: 18.2px;
    left: 2.8px;
    bottom: 2.4px;
    -webkit-transition: .4s;
    transition: .4s;

    background-image: url('./assets/svg-moon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


input:checked+.slider {
    background-color: $bone;
}

input:checked+.slider:before {
    background-color: $bone;
    -webkit-transform: translateX(18.2px);
    -ms-transform: translateX(18.2px);
    transform: translateX(18.2px);

    background-image: url('./assets/svg-sun.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

//LESS HALF SCREEN 
@media only screen and (max-width: 900px) {
    .name {
        // background-color: blue;
        width: 50%;
    }

    .nav {
        top: 8%;
        position: relative;
    }

    .card {
        top: 55%;
    }

    .card__about_text {
        transform: translate(10%, 0%);
    }

    .card__endeavor {
        width: 80vw;
    }

    .card__contact {
        transform: translate(20%, -10%);
        width: 90%;
    }
}

//FOR MOBILE -- big screen
@media only screen and (max-width: 600px) {
    .frame {
        top: 10px;
        bottom: 5px;
        left: 5px;
        right: 5px;
    }

    .name {
        // background-color: grey;
        width: 100%;
        font-size: 4em;
        top: 0px;
        left: 0px;
    }

    .nav {
        // background-color: lightskyblue;
        position: absolute;
        left: auto;
        right: 0px;
        top: auto;
        bottom: 20px;
        text-align: right;
        font-size: 1.4em;
    }

    .footer {
        // background-color: teal;
        bottom: 0px;
        left: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr); 
        grid-column-gap: 0px;
        grid-row-gap: 15px;

    }

    .credits {
        // background-color: aqua;
        font-size: .8em;
        text-align: right;
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    // HOME
    .home {
        // position: relative;
        right: auto;
        left: 10px;
        bottom: auto;
        top: 80px;
        text-align: left;
        font-size: calc(18px + 2vw);
        border-top: 2px solid $bone;
        padding-top: 10px;
        width: calc(100vw - 80px);
    }

    .card {
        // background-color: blue;
        left: 35%;
        top: 50%;
        font-size: calc(12px + .5vh); 
    }

    // ABOUT
    .card__bio_img {
        float: left;
        margin-top: 2%;
        width: calc(30px + 20vw);
        height: calc(30px + 20vw);
    }

    .card__bio_text {
        // background-color: cadetblue;
        width: 80vw;
        font-size: calc(12px + .5vh);
        text-align: left;
        order: -1;
        padding-top: calc(10px + 10vh);
    }

    // HIRING
    .card__hiring_header {
        font-size: calc(12px + 1vw);
        text-align: left;
        line-height: 1.25;
    }

    .card__hiring_stack {
        font-size: calc(8px + .6vh);
        line-height: calc(10px + .3vh);
        padding-top: 8px;
        margin-top: 10px;
    }

    .card__hiring_skills {
        font-size: calc(8px + .6vh);
        line-height: calc(10px + .3vh);
        padding-top: 8px;
        margin-top: 10px;
    }

    .card__hiring_hobbies {
        font-size: calc(8px + .6vh);
        line-height: calc(10px + .3vh);
        padding-top: 15px;
        padding-top: 8px;
        margin-top: 10px;
    }

    .card__hiring_footer {
        font-size: calc(12px + .6vh);
        text-align: left;
        margin-top: 0px;
        line-height: 1.25;
    }

    //ENDEAVORS
    .card__endeavor {
        width: 98%;
        top: 52%;
        left: 5px;
    }

    .card__endeavor_mini {
        text-align: left;
        font-size: calc(8px + .3vh);
        width: 75%;
    }

    .toggle {
        left: 135px;
        bottom: 8px;
        z-index: 9999;
    }

    // end mobile 
}

// FOR MOBILE -- small screen
@media only screen and (max-width: 480px) {
    .name {
        // background-color: hotpink;
    }

    .home {
        top: 125px;
    }

    .card {
        left: 39%;
        top: 40%;
        width: 95%;
        font-size: calc(12px + .25vh);
    }

    .card__about_text {
        width: 100%;
    }

}


// centering
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


// ARCHIVE
// HIRING
.card__hiring_header {
    // background-color: cadetblue;
    font-size: calc(12px + .5vw);
    line-height: 1.5;
}

.card__hiring_stack {
    // background-color: olive;
    border-top: 1.5px solid rgba($bone, .5);
    display: grid;
    font-size: calc(12px + .15vw);
    grid-gap: calc(3px + .5vw);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: calc(2px + 1vw);
    padding-top: calc(2px + 1vw);
    text-align: center;
    line-height: calc(15px + .5vw);
}

.card__hiring_skills {
    // background-color: olivedrab;
    border-top: 1.5px solid rgba($bone, .5);
    display: grid;
    font-size: calc(12px + .15vw);
    grid-gap: calc(3px + .5vw);
    grid-template-columns: 1fr 1fr;
    margin-top: calc(2px + 1vw);
    padding-top: calc(2px + 1vw);
    text-align: center;
    line-height: calc(15px + .5vw);
}

.card__hiring_hobbies {
    // background-color: olivedrab;
    border-top: 1.5px solid rgba($bone, .5);
    display: grid;
    font-size: calc(12px + .15vw);
    grid-gap: calc(3px + .5vw);
    grid-template-columns: .5fr .5fr .5fr .5fr;
    margin-top: calc(2px + 1vw);
    padding-top: calc(2px + 1vw);
    margin-bottom: calc(2px + 1vw);
    padding-bottom: calc(2px + 1vw);
    text-align: center;
    line-height: calc(15px + .5vw);
    border-bottom: 1.5px solid rgba($bone, .5);
    align-items: center;
}

.card__hiring_footer {
    // background-color: cadetblue;
    font-size: calc(12px + .5vw);
    line-height: 1.5;
    white-space: pre-wrap;
}