// BUTTONS
// https://copy-paste-css.com/ // bw button with a lift
// https://codepen.io/agrimsrud/pen/RwKbwXN // button with flashlight effect
// https://codepen.io/natszafraniec/pen/eYMPEaM // smiley face cutie button
// https://codepen.io/myacode/pen/PoqQQNM // Neumorphic Elements

//palette
$raisin: #1b1212;
$bone: #e2e2e2;

//font
@font-face {
    font-family: 'champagne';
    src: url('./assets/ChampagneFont.ttf') format('opentype');
}

// FOR DESKTOP
body {
    background-color: $raisin;
    font-family: 'champagne';
    color: $bone;
}

// https://cssgrid-generator.netlify.app/
.container {
    display: grid;
    grid-template-columns: 40px 10px 10px repeat(2, 1fr) 10px 10px 40px;
    grid-template-rows: 40px 10px 10px repeat(4, 1fr) 10px 10px 40px;
    column-gap: 0px;
    row-gap: 0px;

    // background-color: $raisin;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.basic {
    display: grid;
    grid-template-columns: 40px 10px 10px repeat(2, 1fr) 10px 10px 40px;
    grid-template-rows: 40px 10px 10px repeat(4, 1fr) 10px 10px 40px;
    column-gap: 0px;
    row-gap: 0px;

    background-color: $raisin;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.frame {
    background-color: rgba(0, 0, 0, 0); // background transparent
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    border: 10px solid $bone;
}

.name {
    // background-color: lightskyblue;
    position: absolute;
    font-size: 6em;
    left: .25vw;
    top: 0px;
    line-height: .9;
}

.nav {
    // background-color: lightskyblue;
    font-size: calc(4px + .1vw);
    position: absolute;
    left: .4vw;
    display: grid;
    gap: 3px;
    margin-top: 100px;
    z-index: 9998;
}

// icons footer
.footer {
    // background-color: teal;
    position: absolute;
    bottom: 15px;
    left: 10px;

    z-index: 9999;
    visibility: visible;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    padding-right: 15px;
}

.icon:hover {
    cursor: pointer;
}

.icon_extra {
    // background-color: goldenrod;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    padding-right: 15px;
    padding-left: 2px;
}

.footer__img {
    width: 5px;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: $bone;
    font-family: 'champagne';
    font-size: 5em;
    line-height: 1;
    // added for flowers
    display: inline-block;
    vertical-align: bottom;
    margin-right: .6vw;
}

.btn__minimal {
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: $bone;
    font-family: 'champagne';
    font-size: 2.5em;
    line-height: 1;
    // added for flowers
    display: inline-block;
    vertical-align: bottom;
    margin-right: .6vw;
}

// HOME
.home {
    // background-color: orange;
    position: fixed;
    bottom: 62px;
    right: 60px;
    font-size: calc(18px + 2vw);
    text-align: right;
    line-height: 1;
}

// CARD
.card {
    // background-color: lightblue;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

// ABOUT
.card__bio_img {
    width: calc(30px + 8vw);
    height: calc(30px + 8vw);
    border-radius: 25%;
    float: right;
}

.card__bio_text {
    // background-color: cadetblue;
    width: 47vw;
    font-size: calc(12px + 1vw);
    white-space: pre-wrap;
    clear: both;
    margin-top: 10px;
}

// HIRING
.card__hiring_header {
    // background-color: cadetblue;
    font-size: calc(12px + .5vw);
    line-height: 1.5;
}

.card__hiring_stack {
    // background-color: olive;
    border-top: 1.5px solid rgba($bone, .5);
    display: grid;
    font-size: calc(12px + .15vw);
    grid-gap: calc(3px + .5vw);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: calc(2px + 1vw);
    padding-top: calc(2px + 1vw);
    text-align: center;
    line-height: calc(15px + .5vw);
}

.card__hiring_skills {
    // background-color: olivedrab;
    border-top: 1.5px solid rgba($bone, .5);
    display: grid;
    font-size: calc(12px + .15vw);
    grid-gap: calc(3px + .5vw);
    grid-template-columns: 1fr 1fr;
    margin-top: calc(2px + 1vw);
    padding-top: calc(2px + 1vw);
    text-align: center;
    line-height: calc(15px + .5vw);
}

.card__hiring_hobbies {
    // background-color: olivedrab;
    border-top: 1.5px solid rgba($bone, .5);
    display: grid;
    font-size: calc(12px + .15vw);
    grid-gap: calc(3px + .5vw);
    grid-template-columns: .5fr .5fr .5fr .5fr;
    margin-top: calc(2px + 1vw);
    padding-top: calc(2px + 1vw);
    margin-bottom: calc(2px + 1vw);
    padding-bottom: calc(2px + 1vw);
    text-align: center;
    line-height: calc(15px + .5vw);
    border-bottom: 1.5px solid rgba($bone, .5);
    align-items: center;
}

.card__hiring_footer {
    // background-color: cadetblue;
    font-size: calc(12px + .5vw);
    line-height: 1.5;
    white-space: pre-wrap;
}

//ENDEAVORS
.card__endeavor {
    width: 47vw;
    position: absolute;
    top: 52%;
    right: 10px;
    transform: translateY(-50%);
    text-align: right;

    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: calc(5px + .2vw);
    grid-row-gap: calc(5px + 2vw);
}

.card__endeavor_date {
    text-align: left;
}

.card__endeavor_title {
    text-align: left;
}

//CONNECT CONTACT
.card__contact {
    width: 47vw;
    font-size: calc(12px + 1vw);
}

.card__contact_link {
    color: $bone;
}

.credits {
    font-size: calc(8px + .4vw);
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

// TOGGLE 
.toggle {
    position: absolute;
    left: 170px;
    bottom: 15px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 23.8px;

    vertical-align: bottom;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: .5px solid $bone;

}

.slider:before {
    position: absolute;
    content: "";
    height: 18.2px;
    width: 18.2px;
    left: 2.8px;
    bottom: 2.8px;
    // background-color: $bone;
    -webkit-transition: .4s;
    transition: .4s;

    background-image: url('./assets/svg-moon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;}


input:checked+.slider {
    background-color: $bone;
}

input:checked+.slider:before {
    background-color: $bone;
    -webkit-transform: translateX(18.2px);
    -ms-transform: translateX(18.2px);
    transform: translateX(18.2px);

    background-image: url('./assets/svg-sun.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

//LESS HALF SCREEN 
@media only screen and (max-width: 900px) {
    .name {
        width: 50%;
    }

    .nav {
        top: 12%;
        position: relative;
    }

    .card {
        top: 55%;
    }

    .toggle {
        left: 170px;
        bottom: 14px;
    }
}

//FOR MOBILE 
@media only screen and (max-width: 600px) {
    .frame {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }

    .name {
        width: 100%;
        font-size: 4em;
        top: 2px;
        left: 6px;
    }

    .nav {
        // background-color: lightskyblue;
        position: absolute;
        left: auto;
        right: 5px;
        top: auto;
        bottom: 5px;
        text-align: right;
        font-size: .4em;
    }

    // icons footer
    .footer {
        // background-color: teal;
        position: absolute;
        bottom: 8px;
        left: 10px;
        font-size: calc(4px + .1vw);
        z-index: 9999;
        visibility: visible;
    }

    .icon {
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        padding-right: 5px;
    }

    .icon_extra {
        // background-color: goldenrod;
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        padding-right: 5px;
        padding-left: 4px;
    }

    // HOME
    .home {
        right: auto;
        left: 35px;
        bottom: auto;
        top: 150px;
        text-align: left;
        font-size: calc(18px + 2vw);
        border-top: 2px solid $bone;
        padding-top: 10px;
        width: calc(100vw - 70px);
    }

    .card {
        right: auto;
        left: 5px;
        top: 48%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 96.5%;
    }

    // ABOUT
    .card__bio_img {
        float: left;
        margin-top: 2%;
        width: calc(30px + 20vw);
        height: calc(30px + 20vw);
    }

    .card__bio_text {
        // background-color:cadetblue;
        width: 80vw;
        font-size: calc(12px + .5vh);
        text-align: left;
        order: -1;
        padding-top: calc(10px + 10vh);
    }

    // HIRING
    .card__hiring_header {
        font-size: calc(12px + 1vw);
        text-align: left;
        line-height: 1.25;
    }

    .card__hiring_stack {
        font-size: calc(8px + .6vh);
        line-height: calc(10px + .3vh);
        padding-top: 8px;
        margin-top: 10px;
    }

    .card__hiring_skills {
        font-size: calc(8px + .6vh);
        line-height: calc(10px + .3vh);
        padding-top: 8px;
        margin-top: 10px;
    }

    .card__hiring_hobbies {
        font-size: calc(8px + .6vh);
        line-height: calc(10px + .3vh);
        padding-top: 15px;
        padding-top: 8px;
        margin-top: 10px;
    }

    .card__hiring_footer {
        font-size: calc(12px + .6vh);
        text-align: left;
        margin-top: 0px;
        line-height: 1.25;
    }

    //ENDEAVORS
    .card__endeavor {
        width: 98%;
        top: 52%;
        left: 5px;
    }

    .card__endeavor_header {
        text-align: left;
    }

    .card__endeavor_desc {
        text-align: left;
    }

    .card__endeavor_mini {
        text-align: left;
        font-size: calc(8px + .3vh);
        width: 75%;
    }

    .card__contact {
        text-align: left;
        width: 98%;
    }

    .credits {
        font-size: calc(8px + .4vw);
        text-align: right;
        position: absolute;
        bottom: .05vh;
        right: 15px;
    }

    .toggle {
        left: 135px;
        bottom: 8px;
        z-index: 9999;
    }

    // end mobile 
}

// centering
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}