// BUTTONS
// https://copy-paste-css.com/ // bw button with a lift
// https://codepen.io/agrimsrud/pen/RwKbwXN // button with flashlight effect
// https://codepen.io/natszafraniec/pen/eYMPEaM // smiley face cutie button
// https://codepen.io/myacode/pen/PoqQQNM // Neumorphic Elements

//palette
$raisin: #1b1212;
$bone: #e2e2e2;

//font
@font-face {
    font-family: 'champagne';
    src: url('./assets/ChampagneFont.ttf') format('opentype');
}

// FOR DESKTOP
body {
    background-color: $raisin;
    font-family: 'champagne';
    color: $bone;
}

// https://cssgrid-generator.netlify.app/
.container {
    display: grid;
    grid-template-columns: 40px 10px 10px repeat(2, 1fr) 10px 10px 40px;
    grid-template-rows: 40px 10px 10px repeat(4, 1fr) 10px 10px 40px;
    column-gap: 0px;
    row-gap: 0px;

    // background-color: $raisin;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.frame {
    background-color: rgba(0, 0, 0, 0); // background transparent
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    border: 10px solid $bone;
}

.name {
    // background-color: lightskyblue;
    position: absolute;
    font-size: 6em;
    left: .25vw;
    top: 0px;
    line-height: .9;
}

.nav {
    // background-color: lightskyblue;
    // font-size: .25em;
    font-size: calc(4px + .1vw);
    position: absolute;
    left: .4vw;
    display: grid;
    gap: 3px;
    margin-top: 100px;
    z-index: 9998;
}

.footer_desktop {
    // background-color: thistle;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: calc(4px + .1vw);
    z-index: 9999;
}

// .footer_mobile {
//     visibility: hidden;
// }
.footer {
    // background-color: teal;
    position: absolute;
    bottom: 15px;
    left: 10px;
    // font-size: calc(4px + .1vw);
    // font-size: 2px;
    z-index: 9999;
    visibility: visible;
}

.icon {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    padding-right: 15px;
}

.icon:hover {
    cursor: pointer;
}

.icon_extra {
    // background-color: goldenrod;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    padding-right: 15px;
    padding-left: 2px;
}


.footer__img {
    width: 5px;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: $bone;
    font-family: 'champagne';
    font-size: 5em;
    line-height: 1;
    // added for flowers
    display: inline-block;
    vertical-align: bottom;
    margin-right: .6vw;
}

// HOME
.home {
    // background-color: orange;
    position: fixed;
    bottom: 62px;
    right: 60px;
    font-size: calc(18px + 2vw);
    text-align: right;
    line-height: 1;
}

// CARD
.card {
    // background-color: lightblue;
    // height: calc(100vh - 120px);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

// ABOUT
.card__bio_img {
    width: calc(30px + 8vw);
    height: calc(30px + 8vw);
    border-radius: 25%;
    float: right;
}

.card__bio_text {
    // background-color:cadetblue;
    width: 47vw;
    font-size: calc(12px + 1vw);
    white-space: pre-wrap;
    clear: both;
    margin-top: 10px;
}

// HIRING
.card__hiring_text {
    // background-color:cadetblue;
    font-size: calc(12px + 1vw);
    white-space: pre-wrap;
    clear: both;
    margin-top: 10px;
}

//from when stack had the diamonds
// .card__hiring_stack {
//     width: 50vw;
//     margin-top: 1vw;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: flex-end;
// }

.card__hiring_stack_a {
    width: 50vw;
    margin-top: 2vw;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; // Add this line to create three columns
    grid-gap: 10px; // Add this line to add some spacing between the columns
}

.card__hiring_stack_b {
    text-align: center;
    width: 50vw;
    margin-top: 2vw;
    padding-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr; // Modify this line to create two columns
    grid-gap: 5px; // Reduce the grid-gap value to move the columns closer together
    border-top: 1px solid rgba($bone, 0.2); // Add this line to add a top border
}

.card__hiring_stack_item {
    margin: .4vw;
    padding-top: 2px;
    padding-bottom: 2px;
    // padding-left: .2px;
    // padding-right: .2px;
    // border: 1px solid rgba($bone, 0.2);
    // border-radius: 10%;
    vertical-align: bottom;
}

.card__hiring_stack_column {}

.card__hiring_link {
    // background-color: orange;
    // position: absolute;
    top: auto;
    bottom: 5px;
    font-size: calc(4px + .1vw);
    line-height: 1;
    margin-top: 1.5vw;
}

//LESS HALF SCREEN 
@media only screen and (max-width: 900px) {
    .nav {
        top: 12%;
        position: relative;
    }
}

//FOR MOBILE 
@media only screen and (max-width: 600px) {
    .frame {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }

    .name {
        font-size: 4em;
        top: 2px;
        left: 6px;
    }

    .nav {
        // background-color: lightskyblue;
        position: absolute;
        left: auto;
        right: 5px;
        top: auto;
        bottom: 5px;
        text-align: right;
        font-size: .4em;
    }

    // .footer_desktop {
    //     visibility: hidden;
    // }

    .footer {
        // background-color: teal;
        position: absolute;
        bottom: 8px;
        left: 10px;
        font-size: calc(4px + .1vw);
        z-index: 9999;
        visibility: visible;
    }

    .icon {
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        padding-right: 5px;
    }

    .icon_extra {
        // background-color: goldenrod;
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        padding-right: 5px;
        padding-left: 4px;
    }

    // HOME
    .home {
        right: auto;
        left: 35px;
        bottom: auto;
        top: 150px;
        text-align: left;
        font-size: calc(18px + 2vw);
        border-top: 2px solid $bone;
        padding-top: 10px;
        width: calc(100vw - 70px);
    }

    .card {
        right: auto;
        left: 5px;
        top: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    // ABOUT
    .card__bio_img {
        float: left;
        margin-top: 2%;
        width: calc(30px + 20vw);
        height: calc(30px + 20vw);
    }

    .card__bio_text {
        // background-color:cadetblue;
        width: 80vw;
        font-size: calc(12px + 1.5vw);
        text-align: left;
        order: -1;
    }

    // HIRING
    .card__hiring_text {
        // background-color:cadetblue;
        width: 80vw;
        font-size: calc(12px + 1.5vw);
        text-align: left;
    }

    .card__hiring_stack {}
}