// BUTTONS
// https://copy-paste-css.com/ // bw button with a lift
// https://codepen.io/agrimsrud/pen/RwKbwXN // button with flashlight effect
// https://codepen.io/natszafraniec/pen/eYMPEaM // smiley face cutie button
// https://codepen.io/myacode/pen/PoqQQNM // Neumorphic Elements

//palette
$raisin: #1b1212;
$bone: #e2e2e2;

//font
@font-face {
    font-family: 'champagne';
    src: url('./assets/ChampagneFont.ttf') format('opentype');
}

// FOR DESKTOP
body {
    background-color: $raisin;
    font-family: 'champagne';
    color: $bone;
}

// https://cssgrid-generator.netlify.app/
.container {
    display: grid;
    grid-template-columns: 40px 10px 10px repeat(2, 1fr) 10px 10px 40px;
    grid-template-rows: 40px 10px 10px repeat(4, 1fr) 10px 10px 40px;
    column-gap: 0px;
    row-gap: 0px;

    // background-color: $raisin;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.frame {
    background-color: rgba(0, 0, 0, 0); // background transparent
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    border: 10px solid $bone;
}

.name {
    // background-color: lightskyblue;
    position: absolute;
    font-size: 6em;
    left: .25vw;
    top: 0px;
    line-height: .9;
}

.nav {
    // background-color: lightskyblue;
    font-size: .25em;
    position: absolute;
    left: .4vw;
    display: grid;
    gap: 3px;
    margin-top: 100px;
    z-index: 9999;
}

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: $bone;
    font-family: 'champagne';
    font-size: 5em;
    line-height: 1;
}

// HOME
.home {
    // background-color: orange;
    position: fixed;
    bottom: 62px;
    right: 60px;
    font-size: calc(18px + 2vw);
    text-align: right;
    line-height: 1;
}

// CARD
.card {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

// ABOUT
.card__bio_img {
    width: calc(80px + 8vw);
    height: calc(80px + 8vw);
    border-radius: 25%;
    float: right;
}

.card__bio_text {
    // background-color:cadetblue;
    width: 47vw;
    font-size: calc(12px + 1vw);
    white-space: pre-wrap;
    clear: both;
    margin-top: 10px;
}

// HIRING
.card__hiring_text {
    // background-color:cadetblue;
    font-size: calc(12px + 1vw);
    white-space: pre-wrap;
    clear: both;
    margin-top: 10px;
}

.card__hiring_stack {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card__hiring_stack_item {
    border: 1px solid $bone;
    margin: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

//LESS HALF SCREEN 
@media only screen and (max-width: 900px) {
    .nav {
        top: 12%;
        position: relative;
    }
}

//FOR MOBILE 
@media only screen and (max-width: 600px) {
    .frame {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }

    .name {
        font-size: 4em;
        top: 2px;
        left: 6px;
    }

    .nav {
        // background-color: lightskyblue;
        position: absolute;
        left: auto;
        right: 5px;
        top: auto;
        bottom: 5px;
        text-align: right;
        font-size: .4em;
    }

    // HOME
    .home {
        right: auto;
        left: 35px;
        bottom: auto;
        top: 150px;
        text-align: left;
        font-size: calc(18px + 2vw);
        border-top: 2px solid $bone;
        padding-top: 10px;
        width: calc(100vw - 70px);
    }

    .card {
        right: auto;
        left: 5px;
        top: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    // ABOUT
    .card__bio_img {
        float: left;
        margin-top: 2%;
        width: calc(60px + 20vw);
        height: calc(60px + 20vw);
    }

    .card__bio_text {
        // background-color:cadetblue;
        width: 80vw;
        font-size: calc(12px + 1.5vw);
        text-align: left;
        order: -1;
    }

    // HIRING
    .card__hiring_text {
        // background-color:cadetblue;
        width: 80vw;
        font-size: calc(12px + 1.5vw);
        text-align: left;
    }

    .card__hiring_stack {}
}